<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DBTradeStore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFCF8C9827207DB20094BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFCF8CB127207DB50094BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFCF8CBC27207DB50094BD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
